.landing-header-band{
	position: absolute;
	background: transparent;
	box-shadow: none;
	padding: 10px 15px;
	height: 75px;
	transition: background 0.2s;
}

.landing-header-band .logo{
	transform: none;
	width: auto;
}

.header.landing-header{
	position: absolute;
}

.header.landing-header.fixed-header-nav{
	position: fixed;
}

.landing-header.scrolled,
.landing-header-band.scrolled{
	background: rgba(255,255,255,0.98);
}

.landing-header.scrolled *,
.landing-header-band.scrolled *{
	color: var(--action-color)
}

.landing-header-band .logo img,
.landing-header-band .logo svg{
	height: 55px;
	width: auto;
}

.section-home{
	min-height: 100%;
}

/*.section-home-background{
	background: url(../images/background-gradient.jpg);
	background-attachment: fixed;
}*/

.section-home-front{
	text-align: center;
	padding: 170px 40px 0;
}

.catchphrase{
	width: 100%;
	margin-left: 0;
	float: none;
}

.catchphrase a{
	display: inline-block;
	width: auto;
}

.subscribe{
	padding: 40px 0;
}

.subscribe form{
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	padding: 15px;
	background: var(--contrast-color-reverse);
}

.subscribe form input{
	display: inline-block;
	width: 100%;
	padding: 10px;
	border: none;
}


.subscribe form button{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	height: 100%;
	border: none;
	background: var(--action-color);
}

.subscribe form button i{
	font-size: 1.3em;
	color: var(--contrast-color-reverse);
	transform: translateY(2px);
}

.scrolldown{
	display: none;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 30px;
	height: 60px;
	border-radius: 100px;
	border: 2px solid  var(--contrast-color-reverse);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}

.scrolldown::before{
	content: '';
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 2px;
	height: 14px;
	background: var(--contrast-color-reverse);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
	opacity: 0.3;
}

.wheel{
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background: var(--contrast-color-reverse);
	width: 5px;
	height: 10px;
	border-radius: 100%;
	animation: scrollDown 1.5s ease-out infinite;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
	z-index: 10;
}

@keyframes scrollDown {
    0% {transform: translateX(-50%) translateY(0px);}
    50% {transform: translateX(-50%) translateY(4px);}
    100% {transform: translateX(-50%) translateY(0px);}
}

.accessibility-display{
	position: absolute;
	top: -300%;
	left: -300%;
}

@media only screen and (min-width:800px){
	.section-home{
		min-height: 100%;
	}
	.section-home-front{
		padding: 80px 150px 0;
	}

	.subscribe{
		
	}
}

@media only screen and (min-width:1100px){
	.landing-header{
		height: 75px;
		padding: 15px 25px;
		transition: box-shadow 0.2s, background 0.2s;
		background: transparent;
		box-shadow: none;
		transition: background 0.2s;
	}

	.landing-header .logo img,
	.landing-header .logo svg{
		height: 30px;
		width: auto;
	}

	.landing-header .logo svg{
		color: red;
	}


	.landing-header .logo svg image{
		height: 30;
	}

	.landing-header.scrolled{
		box-shadow: 0px 0px 8px rgba(0,0,0,0.6);		
	}

	.landing-header .logo{
		margin-top: 6px;
	}

	.landing-header ul li a{
		line-height: 35px;
		padding: 6px 10px 14px;
	}

	.landing-navigation{
		float: right;
	}

	.subscribe{
		padding: 40px 180px;
	}

	.subscribe form button{
		cursor: pointer;
		transition: background 0.2s;
	}

	.subscribe form button:hover{
		background: var(--action-color-hover);
	}
	
	.scrolldown{
		display: inline-block;
	}

}

.d-col-content p{
	font-family: 'Muli', sans-serif;
	font-size: 1em;
}