.channel-main{
	padding-top: 0;
}

.channel-main.padded{
	padding-top: 110px;
}

.channel-main-content{
	padding: 15px 0;
	background: var(--contrast-color-reverse);
}

.channel-message{
	padding: 0 15px;
}


.cmh-img,
.chm-user,
.chm-user p,
.cmh-time,
.cmh-time span{
	display: inline-block;
	float: left;
}

.cmh-img{
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 100%;
}

.cmh-img img{
	height: 100%;
}

.chm-user,
.cmh-time{
	transform: translateY(3px);
}

.chm-user{
	max-width: 200px;
}

.chm-user p{
	margin-bottom: 0;
	font-weight: 700;
	padding-left: 10px;
	font-size: 1.1em;
}

.cmh-time{
	padding-left: 10px;
}

.cmh-time span{
	color: var(--grey);
}

.channel-message-message{
	border-left: 3px solid var(--grey-light);
	padding: 0px 10px 25px 30px;
	margin-left: 17px;
}

.channel-message-message img{
	max-width: 100%;
}

.channel-add-message{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: 0;
	z-index: 500;
	border-top: 1px solid var(--grey-light);
}

.channel-add-message .form .field{
	margin-bottom: 0;
	padding: 10px 25px;
}

.channel-add-message .form .field input{
	font-size: 1em;
	padding-right: 72px;
	padding: 5px 10px;
}

.channel-add-message .form .field input.channel-send{
	width: auto;
	font-size: 0.8em;
	position: absolute;
	right: 25px;
	top: 10px;
	height: 44px;
	padding-right: 10px;
	border-radius: 0px 5px 5px 0px;
}


.channel-options {
	display: none;
    z-index: 99999999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    border-top: 1px solid var(--grey-lighter);
    background: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    transform: translateY(100%);
}

.channel-options .submit{
	font-size: 0.9em;
	padding: 7px 15px;
}

.channel-option-title {
    padding-bottom: 15px;
}

.channel-option-title h4 {
    font-size: 1.2em;
}

.channel-options .field i {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-40%);
}

.sharp {
    display: inline-block;
    float: left;
    width: 10%;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    background: var(--grey-lighter);
}

.channel-options .field #channel-name {
    float: right;
    width: 90%;
}

.channel-popup-darker{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 99999999;
}

.channel-popup{
	display: none;
	position: fixed;
	top: 10%;
	left: 5%;
	right: 5%;
	height: auto;
	max-height: 80%;
	padding: 25px;
	background: var(--contrast-color-reverse);
	border-radius: 5px;
	z-index: 999999999;
}

.channel-popup h4{
	font-size: 1.4em;
	font-weight: 700;
}

.users-teams-selector{
	margin-top: 25px;
	padding: 10px;
	border: 1px solid var(--grey);
	height: auto;
	max-height: 400px;
	overflow-x: hidden;
}

.selector-line{
	padding: 10px;
	border-bottom: 1px solid var(--grey);
}

.selector-line .cmh-time span{
	color: var(--text-color);
}

.add-field{
	position: relative;
	min-height: 22px;
	padding: 10px;
	border-bottom: 1px solid var(--grey);
	outline: none;
}

.channel-option-selector{
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 300px;
	overflow-x: hidden;
	transform: translateY(100%);
	background: #fff;
	z-index: 999999999;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

.add-field-span{
	display: inline-block;
	padding: 2px 10px;
	margin-right: 5px;
	background: var(--grey);
	cursor: pointer;
}

.select2-container--default .select2-selection--multiple{
	border: none;
	border-bottom: 1px solid var(--grey);
	border-radius: 0px;
}

.select2-dropdown{
	z-index: 999999999999;
}

.form .field select.form-control,
.select2-container--default.select2-container--focus .select2-selection--multiple{
	border: none;
	outline: none;
	border-bottom: 1px solid var(--grey);
	border-radius: 0px;
}

.select2-dropdown{
	border: none;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	border-radius: 0px;
}

.select2-results__options::-webkit-scrollbar {
    display: inline-block;
    width: 5px;
}

.select2-results__options:hover::-webkit-scrollbar {
    display: inline-block;
}

.select2-results__options::-webkit-scrollbar-track {
    opacity: 0;
    background: rgba(0,0,0,0.1);
}

.select2-results__options::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
}

.select2-results__options::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.4);
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background: var(--action-color);
}

@media only screen and (min-width:800px){
	.channel-message{
		padding: 0 25px;
	}

	.channel-main-content{
		padding: 25px 0;
	}

	.channel-add-message{
		left: 280px;
		width: auto;
		right: 0;
	}

  .channel-options {
      right: 15px;
      left: 15px;
      width: auto;
  }

  .channel-option-title {
      padding-bottom: 25px;
  }

  .sharp {
      width: 5%;
  }

  .channel-options .field #channel-name {
      width: 95%;
  }

  .channel-popup{
		top: 120px;
		left: 300px;
		right: 5%;
	}
}

@media only screen and (min-width:1100px){
	.channel-main{
		padding-top: 110px;
		font-size: 0.8em;
	}

	.channel-main-content{
		padding: 25px 25px;
	}

	.cmh-img{
		width: 30px;
		height: 30px;
	}

	.chm-user,
	.cmh-time{
		transform: translateY(0);
	}

	.channel-message-message{
		padding-top: 0;
		padding-bottom: 15px;	
		margin-left: 13px;
		padding-left: 25px;
	}

	.channel-add-message{
		right: 450px;
		font-size: 0.9em;
	}

	.channel-add-message .form .field input.channel-send{
		height: 37px;
		cursor: pointer;
		transition: background 0.2s;
		border-bottom: 0;
	}

	.channel-add-message .form .field input.channel-send:hover{
		background: var(--grey-light);
	}

  .channel-options {
      right: 0;
      left: 20px;
  }
	
	.channel-popup{
		top: 120px;
		left: 280px;
		right: 450px;
	}
	
	.selector-line{
		cursor: pointer;
		transition: background 0.2s;
	}

	.selector-line:hover{
		background: var(--grey-light);
	}
}