.noverlay {
    overflow: hidden;
}



.infobar {
    width: 100%;
    height: auto;
    margin-top: 110px;
    padding: 20px;
    background: var(--grey-light);
}

.infobar.empty {
    display: none;
    margin-top: 0;
    padding: 0;
}

.infos {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.infos h4 {
    margin-bottom: 7px;
    padding-bottom: 3px;
    font-size: 1.3em;
    font-weight: 600;
}

.info-bloc {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid var(--grey-light);
}

.info-img,
.info-user {
    display: inline-block;
    float: left;
    vertical-align: top;
}

.info-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.info-img img {
    height: 100%;
}

.info-user {
    width: 80%;
    padding-left: 10px;
}

.info-user p {
    display: inline-block;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 700;
}

.info-user span {
    display: block;
    font-size: 0.8em;
}

.info-user span,
.info-user em {
    color: var(--text-lighter);
}

.info-user a {
    display: inline-block;
    margin-left: 5px;
}

.info-user p{
	display: block;
}

.info-user p a{
	position: relative;
}

.info-user p a.tronquate::after{
	content: '[ ... ]';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50px;
	color: var(--grey);
	background: #fff;
	transform: translateX(100%);
}

.info-header i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.1em;
    color: var(--text-lighter);
}

.user-sheet{
	display: none;
	position: absolute;
	bottom: 0;
	left: -10%;
	background: #fff;
	transform: translateY(100%);
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	z-index: 999999;
	padding: 10px;
	width: 120%;
}

.user-sheet::before{
	content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 23px;
  height: 12px;
  background: url(../../images/arrow-open.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  transform: translateY(-100%);
}

.user-sheet-name{

}

.user-sheet-name p{
	float: left;
	display: inline-block;
	vertical-align: middle;
	font-size: 1em;
	margin-bottom: 0;
	margin-bottom: 7px;
	margin-left: 10px;
}

.user-sheet-name p strong,
.user-sheet-name p a,
.user-sheet-name p span{
	display: block;
	font-size: 0.8em;
	line-height: 1.4em;
}

.user-sheet-name p strong{
	font-weight: 700;
}

.user-sheet-name p span a{
	display: inline-block;
	font-size: 1em;
}

.user-sheet-name .info-img{
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
}

.user-sheet-name .info-img a,
.user-sheet-name .info-img img{
	height: 100%;
}

.user-sheet-bio{
	display: block;
	font-size: 0.8em;
	line-height: 1.4em;
}

.user-sheet a{
	margin-bottom: 5px;
}

.user-sheet span{
	margin-bottom: 10px;
}


.main {
    width: 100%;
    height: auto;
    padding-right: 15px;
    padding-bottom: 40px;
    padding-left: 15px;
    background: var(--grey-light);
}

.main.padded {
    padding-top: 130px;
}

.admin-main{
	min-height: 100%;
}

.main-header {
    z-index: 2003;
    position: fixed;
    top: 55px;
    right: 0;
    left: 0;
    padding: 15px 25px;
    background: #fff;
    box-shadow: -2px 0 6px rgba(0,0,0,0.1);
}

.admin-main .main-header{
	width: 100%;
}

.main-header h2 {
    position: relative;
    font-size: 1.6em;
    font-weight: 700;
}

.main-header h2 i {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 0.8em;
    transform: translateY(-50%);
}

.main-header-icons{
  position: fixed;
  top: 68px;
  right: 23px;
}


.main-header-icons a{
  display: inline-block;
  padding: 5px 10px;
}

.admin-main .d-container{
  min-height: 160px;
}

.main-content {
    width: 100%;
    overflow-x: hidden;
}

.post {
    position: relative;
    padding: 15px 20px;
    border: 1px solid var(--grey-medium-lighter);
    border-top: none;
    background: #fff;
    font-size: 0.9em;
}

.post a,
.post a:visited{
    color: var(--action-color);
}

.modify-my-post {
    position: absolute;
    top: 0;
    right: 0;
}

.modify-my-post p {
    margin-bottom: 0;
    padding: 5px;
    padding-right: 15px;
    font-size: 0.8em;
    cursor: pointer;
}

.modify-my-post-content {
    display: none;
    z-index: 200;
    position: absolute;
    right: 25px;
    bottom: 0;
    padding: 25px;
    min-width: 250px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    transform: translateY(110%);
}

.modify-my-post-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 10px;
    width: 23px;
    height: 12px;
    background: url(../../images/arrow-open.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    transform: translateY(-100%);
}

.modify-my-post-content h4 {
    margin-bottom: 25px;
    font-size: 1.2em;
    font-weight: 700;
}

.modify-my-post-content a {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}

.modify-my-post-content i {
    color: var(--action-color);
}

.post-img,
.post-user {
    display: inline-block;
    float: left;
}

.post-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid var(--grey);
}

.post-actions {
    width: 100%;
}

.post-actions-icons {
    display: inline-block;
}

.post-actions-icons i {
    margin-top: 20px;
    margin-right: 30px;
    font-size: 1.3em;
}

.liked i {
    color: #F22613;
}

.post-actions-content {
    display: none;
    z-index: 9999999999;
    position: fixed;
    top: 10%;
    right: 15px;
    left: 15px;
    padding: 15px;
    background: #fff;
}

.post-actions-content h4 {
    position: relative;
    padding-bottom: 15px;
    font-size: 1.3em;
}

.post-actions-content h4 span {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
}

.quote-post {
    padding: 10px 0;
    max-height: 365px;
    overflow-x: hidden;
}

.action-form-validate {
    padding-top: 10px;
}

.quote-validate .button {
    margin: 0;
}

input[type="file"].dn,
.dn {
    display: none;
}

.post-img img {
    height: 100%;
}

.post-user {
    width: 70%;
    padding-left: 20px;
}
.user-header-container .user-name{
    text-shadow: 1px 1px 6px rgba(0,0,0,0.3);    
}

.user-name {
    font-size: 1.2em;
    font-weight: 700;
}

.user-name p {
    margin-bottom: 0;
}

.user-name em,
.user-name span {
    font-size: 0.7em;
    font-weight: 400;
    color: var(--text-color-light);
}

.user-title p {
    margin-bottom: 0;
    font-size: 0.8em;
}

.post-img a {
    display: inline-block;
    text-decoration: none;
}

.post-user a {
    display: inline-block;
    text-decoration: none;
}

.post-user span {
    text-decoration: underline;
}

.post-content-img {
    width: 100%;
    height: auto;
    max-height: 200px;
    border: 1px solid var(--grey);
    overflow: hidden;
    background: rgba(0,0,0,0.2);
}

.post-content-img:active img {
    opacity: 0.8;
}

.post-content-img img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.post-content-img.img-2 {
    float: left;
    width: 48%;
    margin: 0 1%;
}

.post-content-img.img-3 {
    float: left;
    width: 48%;
    margin: 0 1% 1%;
}

.post-content-img.full-img {
    width: 98%;
}

.post-content-img.img-4 {
    float: left;
    width: 48%;
    margin: 0 1% 1%;
}

.post-content-img.img-2 img,
.post-content-img.img-3 img,
.post-content-img.img-4 img {
    width: 100%;
}

.info-img a,
.info-user a {
    display: inline-block;
    margin-left: 0;
    text-decoration: none;
    color: var(--text-color);
}

.more-posts {
    text-align: center;
    background: var(--grey-medium-lighter);
}

.more-posts a {
    display: block;
    padding: 15px;
}

.companies,
.advertising {
    display: none;
}


.profil-main {
    padding-top: 55px;
    min-height: 130%;
}

.profil-main.padded {
    padding-top: 15px;
}

.profil-header {
    z-index: 200;
    position: relative;
    margin-top: 54px;
}

.profil-cover {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.profil-img {
    position: absolute;
    bottom: -20px;
    left: 14px;
    width: 100px;
    height: 100px;
    border: 8px solid #fff;
    border-radius: 100%;
    overflow: hidden;
}

.profil-img img {
    height: 100%;
}

.profil-name {
    position: absolute;
    bottom: 2px;
    left: 130px;
}

.profil-name h4 {
    font-size: 1.3em;
    font-weight: 700;
}

.profil-name h4,
.profil-name p {
    text-shadow: 0 0 6px rgba(0,0,0,0.3);
    color: var(--contrast-color-reverse);
}

.modify-header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s;
}

.modify-header p {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 20px;
    border: 5px solid rgba(255,255,255,0.7);
    border-radius: 5px;
    font-size: 1.2em;
    color: rgba(255,255,255,0.7);
    transform: translateY(-50%) translateX(-50%);
}

input.modify-header-submit {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin: 0;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    transform: translateX(-50%);
}

input.modify-header-submit.active {
    display: inline-block;
}

.profil-header:hover .modify-header,
.modify-header.active {
    opacity: 1;
}

.profil-content {
    z-index: 100;
    position: relative;
    margin-top: 25px;
    padding: 25px;
    border: 1px solid var(--grey-medium-lighter);
    background: #fff;
}

.profil-info-header {
    margin-bottom: 25px;
}

.profil-info-header h2 {
    padding-bottom: 15px;
    border-bottom: 4px solid var(--grey-light);
    font-size: 1.8em;
    font-weight: 700;
}

.profil-info-header .numbers {
    font-size: 0.8em;
    font-weight: 100;
    color: var(--text-lighter);
}

.edit-profil-band {
    display: none;
    position: relative;
    height: 55px;
    border: 1px solid var(--grey-medium-lighter);
    background: #fff;
}

.profil-top-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 295px;
    padding-right: 120px;
}

.profil-top-menu li {
    display: inline-block;
    float: left;
    position: relative;
    height: 55px;
    padding: 15px 15px;
    padding-bottom: 17px;
    font-size: 0.9em;
}

.profil-top-menu li i {
    margin-right: 10px;
    margin-left: -1px;
    color: inherit;
}

.profil-top-menu li span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 3em;
    line-height: 55px;
    color: rgba(0,0,0,0.07);
}

.profil-top-menu li.active {
    color: var(--contrast-color-reverse);
    background: var(--action-color);
}

.profil-bloc {
    position: relative;
    padding: 15px;
    font-size: 0.8em;
    line-height: 1.6em;
}

.profil-bloc:hover {
    background: var(--grey-lighter);
}

.edit-profil {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 10px;
    border: 1px solid var(--grey);
    opacity: 1;
    transition: opacity 0.2s,background 0.2s;
    cursor: pointer;
}

.profil-bloc:hover .edit-profil {
    opacity: 1;
}

.edit-profil i {
    font-size: 1em;
}

.edit-profil:hover {
    background: var(--grey);
}

.profil-bloc-title {
    font-size: 1.3em;
    font-weight: 700;
}

.profil-bloc-content {
    padding-left: 25px;
    border-left: 5px solid var(--grey-light);
}

.experience-bloc {
}

.experience-bloc h5 {
    font-size: 1.1em;
    font-weight: 700;
}

.experience-bloc h5 i {
    margin-left: 10px;
    cursor: pointer;
}

.experience-bloc span,
.experience-bloc em {
    display: block;
}

.experience-bloc span,
.experience-bloc em,
.experience-bloc p {
    padding-left: 15px;
}

.profil-content .post {
    border: none;
    border-bottom: 1px solid var(--grey-medium-lighter);
}

.profil-content-relations .d-row,
.profil-content-follow .d-row{
  padding-bottom: 10px;
}

.profil-content-relations .d-col,
.profil-content-follow .d-col{
  font-size: 0.7em;
  line-height: 1.4em;
  padding: 5px;
}

#search-bar1,
#search-bar2{
  font-size: 1em;
}

.profil-content-follow .d-col .post-header,
.profil-content-relations .d-col .post-header{
  /*box-shadow: 0px 1px 5px rgba(0,0,0,0.1);*/
  min-height: 93px;
  overflow: hidden;
  border: 1px solid var(--grey);
  padding: 10px;  
}

.profil-content-follow .d-col.unconcluent,
.profil-content-relations .d-col.unconcluent{
  width: 0;
  min-height: 0;
  padding: 0;
}

.profil-content.active {
    display: block;
}

.profil-side {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid var(--grey-medium-lighter);
    background: #fff;
}

.profil-side h4 {
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: 700;
}

.profil-relation-content {
    margin-bottom: 10px;
}

.profil-relation-content .post-user {
    padding-left: 10px;
}

.profil-relation-content p {
    font-size: 0.7em;
    line-height: 1.4em;
}

.profil-relation-content span {
    display: block;
    font-size: 0.9em;
    line-height: 1.4em;
}

.profil-relation-content em {
    font-size: 0.6em;
    line-height: 1.4em;
}

.profil-relation-content .post-img {
    width: 30px;
    height: 30px;
}

.profil-relation-content .post-img img {
    width: auto;
    height: 30px;
}

.profil-side-media {
    float: left;
    width: 48%;
    margin: 0 1% 2% 1%;
    max-height: 100px;
    overflow: hidden;
}

.profil-side-media img {
    width: auto;
    height: 100px;
}

.profil-infobar {
    margin-top: 55px;
}

.profil-content-medias .profil-bloc img {
    float: left;
    width: 100%;
    margin: 0% 0% 2% 0%;
}

.change-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    text-align: center;
    line-height: 100px;
    opacity: 0;
    background: rgba(0,0,0,0.6);
    transition: opacity 0.2s;
}

.change-img i {
    font-size: 2em;
    color: var(--contrast-color);
}

.profil-img:hover .change-img {
    opacity: 1;
}

.darker-modify {
    display: none;
    z-index: 9999999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

.modify-profil-img {
    display: none;
    z-index: 9999999999999;
    position: fixed;
    top: 50%;
    left: 5%;
    width: 90%;
    padding: 25px;
    background: #fff;
    transform: translateY(-50%);
}

.modify-profil-img p {
    margin-bottom: 25px;
    font-size: 1.2em;
    font-weight: 700;
}

.modify-profil-img label {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    background: var(--grey-medium-lighter);
}

.modify-profil-img-submit {
    display: none;
}

.modify-profil-img-submit.active {
    display: inline-block;
}

.profil-sider {
    display: none;
}

.edit-profil-form {
    display: none;
    z-index: 9999999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
}

.close-edit{
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.close-edit i{
	font-size: 1.2em;
}

.remove-ask{
	display: inline-block;
	font-weight: 400;
	width: 0;
	height: 20px;
	vertical-align: bottom;
	overflow: hidden;
	margin-left: 10px;
	opacity: 0;
	transition: width 0.2s, opacity 0.2s;
}

.remove-ask.open{
	width: 260px;
	opacity: 1;
}

.remove-ask div{
	display: inline-block;
	text-decoration: underline;
	cursor: pointer;
}

.remove-ask div:hover{
	text-decoration: none;
}

/*.edit-profil-form label {
    display: block;
    width: 100%;
}*/

.edit-profil-form input {
    vertical-align: bottom;
}

.edit-darker {
    display: none;
    z-index: 9000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white-trans);
}

.edit-profil-form {
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

/*.edit-profil-form .small-input {
    width: 100%;
    margin-bottom: 10px;
}*/

.edit-profil-form .submit {
    width: 100%;
}

.edit-profil-form label i {
    margin-left: 25px;
    cursor: pointer;
}

.edit-profil-form textarea {
    transition: color 0.2s;
}

.edit-profil-form textarea.light-color {
    color: rgba(0,0,0,0.2);
}

.add-more {
}

.add-more label {
    display: none;
}

.add-more .form {
    background: transparent;
}

.add-more .field input {
    color: var(--contrast-color);
    background: transparent;
}

.add-more-plus {
    position: absolute;
    top: 50%;
    right: 0;
    border: none;
    background: transparent;
    transform: translateX(100%) translateY(-50%);
    cursor: pointer;
}

.add-more-plus i {
    color: var(--contrast-color);
}


.modify-img {
	display: none;
  position: fixed;
  top: 10%;
  left: 5%;
  width: 90%;
  padding: 25px;
  background: #fff;
  z-index: 999999999999999;
  border-radius: 5px;
  transition: bottom 0.2s;
  overflow-x: hidden;
}

.modify-img.loaded{
	bottom: 50px;
}

.modify-img h4{
	font-size: 1.2em;
	margin-bottom: 15px;
	font-weight: 700;
}

.modify-img h4 em{
	font-size: 0.7em;
	color: var(--text-lighter);
	font-weight: 400;
}

.modify-img .submit{
	display: none;
}

.close-modify{
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
	display: inline-block;
}

.close-modify i{
	font-size: 1.2em;
}

.preview-image{
	max-height: 200px;
  overflow: hidden;
}

.preview-image img{
	opacity: 0;
	transition: opacity 0.2s;
	transition-delay: 0.2s;
}

.preview-image img.loaded{
	width: auto;
	max-width: 100%;
	opacity: 1;
}

.selected-file{
	max-width: 80%;
}

.affine{
	font-size: 0.8em;
	margin-bottom: 5px;
	line-height: 1.4em;
}

/********************************************************/

/******************** @media tablet *********************/

@media only screen and (min-width:760px) {
    .post {
        padding: 15px 90px;
    }

    .main-header {
        padding-left: 90px;
    }

    .post-content-img.img-2,
    .post-content-img.img-3,
    .post-content-img.img-4 {
        max-height: 150px;
    }

    .infobar {
        padding: 20px 90px;
    }

    .post-replies{
        margin-top: 20px;
        padding: 0px 10px;
        border-left: 3px solid var(--grey-light);
    }

    .post-replies .post-reply{
        border: none;
        padding-right: 0;
        padding-left: 5px;
        border-bottom: 1px solid var(--grey-light);
        margin-bottom: 0;
    }

    .all-replies{
        text-align: center;
        padding: 10px;
    }
}

/********************************************************/

/******************** @media tablet landscape ***********/

@media only screen and (min-width:800px) {
    

    .post {
        padding: 15px 270px 15px 40px;
    }

    .main {
        padding-right: 15px;
        padding-left: 295px;
    }

    .profil-main {
        position: relative;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 295px;
    }

    .admin-main{
			
		}

    .profil-img {
        left: 15px;
    }

    .profil-sider {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        width: 265px;
        margin-top: 0;
    }

    .profil-side-item {
        max-height: 81px;
    }

    .profil-info-header {
        padding-top: 0;
    }

    .main-header {
        top: 55px;
        left: 280px;
        padding-left: 58px;
    }

    .infobar {
        margin-top: 110px;
        padding: 20px 190px;
        padding-right: 20px;
        padding-left: 390px;
    }

    .floating-button-toolbar {
        display: none;
    }

    

    #user {
        display: none;
    }

    .edit-profil-band {
        display: block;
    }

    



    .infos {
        float: left;
        width: 49%;
        max-height: 243px;
        /*overflow: hidden;*/
    }

    .relations {
        margin-right: 2%;
    }

    .advertising {
        background: rgba(255,255,255,0.05);
    }

    .pub-visu {
        width: 100%;
        margin-top: 10px;
        max-height: 100px;
        overflow: hidden;
    }

    .pub-visu a {
        display: inline-block;
        text-decoration: none;
    }

    .pub-visu img {
        width: 100%;
    }

    .pub-content {
        padding: 10px 0;
    }

    .pub-content p {
        margin-bottom: 0;
        font-size: 0.8em;
        line-height: 1.4em;
    }

    .user .post-img {
        width: 60px;
        height: 60px;
    }


    .post-actions-content {
        top: 15%;
        right: 250px;
        left: 296px;
    }

    .info-bloc {
        padding: 10px 0;
    }

    .profil-main .user-info p {
        font-size: 1em;
    }

    .profil-main .user-info {
        width: auto;
        padding-right: 50px;
        font-size: 1em;
    }

    .profil-top-menu {
        display: inline-block;
    }

    .profil-content {
        display: none;
        margin-top: 0;
    }

    .profil-content .post {
        padding-right: 120px;
    }

    .profil-content-medias .profil-bloc img {
        float: left;
        width: 48%;
        margin: 0% 1% 2% 1%;
    }

    .modify-profil-img {
        left: 20%;
        width: 60%;
    }

    /*.edit-profil-form .small-input {
        width: 80%;
        margin-bottom: 0;
    }*/

    .edit-profil-form .submit {
        width: auto;
    }


    .modify-img{
    	left: 20%;
    	width: 60%;
    }

    .preview-image{
    	max-height: 380px;
    }

    .user-sheet{
  		left: 0;
  		width: 130%;
  		bottom: 20%;
  	}

}

/********************************************************/

/******************** @media desktop ********************/

@media only screen and (min-width:1100px) {
    body {
        overflow-x: visible;
    }

    .action-button {
        display: none;
    }

    .companies,
    .advertising {
        display: inline-block;
    }


    .main {
        width: 100%;
        padding-top: 116px;
        padding-right: 450px;
        padding-left: 279px;
    }

    .main.padded {
        padding-top: 125px;
    }

    .admin-main{
			padding-right: 0;
		}

    .main-header {
        top: 55px;
        right: 451px;
        left: 260px;
        padding: 18px 25px;
        padding-left: 65px;
    }

    .main-header h2 {
        font-size: 1.4em;
    }

    .post {
        padding-right: 40px;
        padding-left: 40px;
    }

    .profil-main {
        padding-top: 15px;
        padding-right: 240px;
        padding-left: 295px;
    }

    .profil-cover {
        height: 250px;
    }

    .profil-main .post {
        padding-right: 210px;
    }

    .profil-menu-item {
        cursor: pointer;
    }

    .post-content-img {
        max-height: 300px;
        background: rgba(0,0,0,0.2);
        cursor: pointer;
    }

    .post-content-img img {
        transition: opacity 0.2s;
    }

    .post-content-img:hover img {
        opacity: 0.8;
    }

    .img-1 {
        max-width: 100%;
    }

    .post-content-img img {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    .infobar {
        display: inline-block;
        z-index: 2006;
        position: absolute;
        top: 55px;
        right: 210px;
        bottom: 0;
        width: 240px;
        margin-top: 0;
        padding: 15px 20px;
    }

    .profil-infobar {
        z-index: 100;
        top: 306px;
        right: 0;
    }

    .infos {
        float: none;
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        padding: 6px 13px;
        max-height: auto;
        border-radius: 3px;
    }

    .infos h4 {
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 0.8em;
    }

    .info-bloc {
        padding: 5px 0;
    }

    .info-bloc:last-child {
        border: none;
    }

    .info-img {
        width: 30px;
        height: 30px;
    }

    .info-user p {
        margin-bottom: 0;
        font-size: 0.7em;
    }

    .info-user em {
        font-size: 0.7em;
    }

    .info-user span {
        font-size: 0.6em;
    }

    .info-header i {
        display: none;
    }

    .info-user p,
    .info-user em,
    .info-user span {
        display: block;
        line-height: 1.4em;
    }

    .pub-visu {
        margin-top: 0;
        max-height: 60px;
    }

    .pub-content p {
        font-size: 0.7em;
    }

    .user-name em,
    .user-name span,
    .user-title {
        color: var(--text-lighter);
    }

    .post-user span:hover {
        text-decoration: none;
    }

    .comments ul li a.last-sidebar-message {
        padding-left: 0;
    }

    .d-scrollbar::-webkit-scrollbar {
        display: inline-block;
        width: 5px;
    }

    .d-scrollbar:hover::-webkit-scrollbar {
        display: inline-block;
    }

    .d-scrollbar::-webkit-scrollbar-track {
        opacity: 0;
        background: rgba(0,0,0,0.1);
    }

    .d-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.2);
    }

    .d-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(0,0,0,0.4);
    }

   

    .post-actions-content {
        top: 115px;
        right: 452px;
        left: 280px;
        padding: 25px;
        max-height: 530px;
        overflow: hidden;
    }

    .quote-post {
        max-height: 305px;
    }

    .post-actions-icons i {
        font-size: 1.2em;
        cursor: pointer;
    }

    .modify-header,
    .modify-header p,
    .modify-header input,
    .modify-profil-img label {
        cursor: pointer;
    }

    .modify-header p {
        transition: color 0.2s;
    }

    .modify-header p:hover {
        color: rgb(255,255,255);
    }

    input.modify-header-submit {
        bottom: 40px;
    }

    .profil-top-menu li {
        transition: background 0.2s;
        cursor: pointer;
    }

    .change-img {
        line-height: 150px;
        cursor: pointer;
    }

    .modify-profil-img {
        left: 25%;
        width: 50%;
    }

    .profil-top-menu li.active:hover {
        background: var(--action-color);
    }

    .profil-top-menu li:hover {
        background: var(--grey-medium-lighter);
    }

    .profil-img {
        bottom: -50px;
        left: 60px;
        width: 150px;
        height: 150px;
    }

    .profil-name {
        bottom: 10px;
        left: 220px;
    }

    .main-header h2 i {
        cursor: pointer;
    }

    .modify-img{
    	left: 30%;
    	width: 40%;
    	top: 15%;
    }

    .modify-img.loaded{
    	bottom: 25px;
    }

    .preview-image{
    	max-height: 340px;
    }

	  .user-sheet{
			left: -7px;
			width: 200%;
			bottom: 0;
		}

    .admin-menu{
      width: 260px;
    }

    .admin-menu-content ul li a:hover{
      background: var(--admin-menu-hover);
    }

    .admin-container .d-row{
      overflow: visible;
    }

    .admin-content{
      /*border: 1px solid transparent;*/
      transition: background 0.2s, box-shadow 0.2s;
    }

    .admin-content:hover{
      background: rgba(255,255,255,0.8);
      /*border-color: var(--action-color);*/
    }

    .content-table-header div i{
      display: inline-block;
    }
}

@media only screen and (min-width:1245px) {
    .search {
        margin-left: 102px;
    }
}

.ajax-load{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    text-align: center;
}

.ajax-load i,
.admin-content .ajax-load i{
    font-size: 4em;
}

.ajax-load p{
    font-size: 1.2em;
}