.toolbar {
    z-index: 400;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 130px;
    transition: transform 0.15s ease-out;
    transform: translateX(-110%);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    background: var(--dgreen-toolbar);
}


.sidebar.on {
    z-index: 3000;
    transform: translateX(0);
}

.sidebar-header {
    z-index: 600;
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 15px;
    overflow: hidden;
    background: var(--dgreen-light);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.sidebar-header .sidebar-icon {
    display: inline-block;
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    background: rgba(255,255,255,0.2);
}

.sidebar-header .sidebar-icon i {
    font-size: 1.2em;
    color: var(--contrast-color-reverse);
    transform: translateY(1px);
}

.sidebar-icon::before,
.sidebar-icon.default-800::before,
.sidebar-icon.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #fff;
    transition: opacity 0.15s ease-out,margin-top 0.15s ease-out,margin-left 0.15s ease-out;
    transform: translateX(-50%) translateY(-50%);
}

.sidebar-icon::before {
    margin-top: -10px;
    opacity: 0;
}

.sidebar-icon.active-800::before {
    opacity: 0;
}

.sidebar-icon.active::before {
    margin-top: 0;
    opacity: 1;
}

.sidebar-content-header {
    padding: 15px 0;
}

.sidebar-content-header h4 {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 700;
}

.sidebar-content-header h4 i {
    display: none;
    margin-right: 10px;
    color: var(--contrast-color);
}

.sidebar-content {
    z-index: 400;
    position: absolute;
    top: 130px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 45px;
    overflow-x: hidden;
    color: var(--contrast-color);
    background: var(--dgreen-toolbar);
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    transition: transform 0.15s ease-out;
    transform: translateX(-100%);
    transition-delay: 0.5s;
}

.sidebar-content.open {
    z-index: 500;
    transform: translateX(0);
    transition-delay: 0.0s;
}

.sidebar-content.user {
    padding: 0;
}

.sidebar-content.user .sidebar-content-header {
    padding-top: 30px;
    padding-left: 45px;
}


.user-info-container {
  display: none;
  padding-top: 10px;
}

.user-info {
    float: left;
    width: 33.33%;
    text-align: center;
}

.user-info p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.9em;
}

.user .sidebar-content-content {
    padding-top: 0;
}

.user .post-img {
    width: 70px;
    height: 70px;
    border: 6px solid #fff;
}

.user .user-name span {
    display: block;
}

.sidebar-content-content {
    padding: 15px 0;
}

.sidebar-content-content ul li {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid var(--grey);
    font-size: 1.1em;
}

.sidebar-content-content ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--contrast-color);
    transition: opacity 0.2s;
}

.sidebar-content-content ul li a .log-statut {
    display: inline-block;
    text-decoration: underline;
    font-size: 0.7em;
    color: rgba(255,255,255,0.8);
}

.hashtag ul li {
    padding-right: 50px;
    padding-bottom: 0;
    border: none;
}

.channel-new {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1px 25px;
    border-radius: 100px;
    background: var(--orange);
    color: var(--contrast-color-reverse);
    transform: translateY(5px) translateX(60%);
}

.contact-img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 3px solid #fff;
    border-radius: 100%;
    overflow: hidden;
    vertical-align: top;
}

.team-contact-img {
    position: relative;
}

.contact-img img {
    height: 100%;
}

.contact-img a {
    display: block;
}

.users ul li .team-name {
    font-size: 1.1em;
    vertical-align: top;
    transform: translateY(8.5px);
}

.comments ul li a.last-sidebar-message {
    display: block;
    padding-left: 53px;
    color: var(--contrast-color);
}

.comments ul li a span {
    display: block;
}

.online::after,
.offline::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.online::after {
    background: var(--online);
}

.offline::after {
    background: var(--offline);
}

.comments .online::after,
.comments .offline::after {
    top: 24px;
    transform: translateY(0);
}


.user-header {
    display: none;
    z-index: 3333;
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    background: #fff;
    background: var(--dgreen-toolbar);
}

.user-header-container {
    padding: 30px;
    /*background: var(--dgreen-toolbar-profil);*/
    border-bottom: none;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.user-header-container * {
    color: var(--contrast-color-reverse);
}

.sidebar-content .team-contact-img a{
  transition: opacity 0s;
}

.sidebar-content .team-contact-img a:hover{
  opacity: 1;
}

.team-letter {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    color: var(--contrast-color-reverse);
    background: violet;
    transform: translateX(-3px) translateY(-3px);
    border-radius: 100%;
}

@media only screen and (min-width:800px) {
    .toolbar {
        z-index: 3000;
        width: 280px;
        transform: translateX(0);
        font-size: 0.9em;
    }

    .toolbar input{
      font-size: 0.9em;
    }

    .sidebar-header {
        top: 185px;
        bottom: 0;
        width: 50px;
        padding: 15px 5px;
        padding-top: 21px;
        transition: transform 0.2s ease-out;
    }

    .sidebar-header.hided {
        transform: translateX(-100%);
    }

    .sidebar-header .sidebar-icon {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 0;
        margin-bottom: 25px;
        line-height: 40px;
        cursor: pointer;
    }

    .sidebar-content {
        top: 200px;
    }


    .sidebar-content {
        top: 185px;
        bottom: 0;
        height: auto;
        padding-right: 30px;
        padding-bottom: 60px;
        padding-left: 70px;
        box-shadow: none;
    }

    .sidebar-content h4 {
        font-size: 1.2em;
    }

    .default-800 {
        transform: translateX(0);
    }

    .sidebar-content.user {
        top: 55px;
        max-height: 158px;
        box-shadow: none;
        transform: translateX(0);
    }

    .sidebar-content.user .sidebar-content-header {
        display: none;
    }

    .sidebar-content .user-name {
        font-size: 1em;
    }

    .user-info {
        font-size: 0.65em;
        line-height: 1.4em;
    }

    .sidebar-content.user .user-title {
        font-size: 0.8em;
    }

    .sidebar-content-content {
        padding: 0;
    }


    .channel-new {
        padding: 1px 20px;
        transform: translateY(5px) translateX(55%);
    }

    .sidebar-content-content ul li {
        font-size: 0.95em;
    }

    .sidebar-icon::before,
    .sidebar-icon.default-800::before,
    .sidebar-icon.active::before {
        top: 50%;
        left: 0;
        margin-left: 0;
        outline: none;
        transform: translateX(-50%) translateY(-50%);
    }

    .sidebar-content-content ul li a .log-statut {
        display: block;
    }

    .sidebar-content-content ul li a:hover{
      opacity: 0.8; 
    }

    .sidebar-icon.active-800::before,
    .sidebar-icon.active::before {
        left: 0;
        margin-top: 0;
        margin-left: 0;
        opacity: 1;
    }

    .user-header {
        display: inline-block;
        width: 280px;
        height: 130px;
        overflow: hidden;
    }

    .user-header-container {
        height: 130px;
    }

    .sidebar-content-content ul li {
        padding: 10px 0;
    }

    .user-header .post-user{
        width: 65%;
    }

    .user-header .user-name p{
        font-size: 0.8em;
        line-height: 1.4em;
    }
}

@media only screen and (min-width:1100px){

    .toolbar {
        width: 260px;
    }


    .sidebar-content,
    .sidebar-header {
        top: 185px;
    }

    .sidebar-header {
        width: 45px;
    }

    .sidebar-content-header {
        padding-top: 0;
    }

    .channel-new {
        top: 8px;
        bottom: auto;
        padding: 3px 15px;
        line-height: 1em;
    }

    .sidebar-header .sidebar-icon {
        width: 32px;
        height: 32px;
        font-size: 0.8em;
        line-height: 32px;
    }

    .sidebar-content {
        padding-top: 23px;
    }

    .comments .online::after,
    .comments .offline::after,
    .online::after,
    .offline::after {
        top: 10px;
        left: -4px;
        width: 15px;
        height: 15px;
    }


    .user-header {
        width: 260px;
        height: 130px;
        overflow: hidden;
    }

    .user-header-container {
        padding: 15px;
    }

    .user-header .user-name span,
    .user-title {
        color: var(--contrast-color-reverse);
    }
}