.project-main.padded,
.project-main{
	padding-top: 0;
}

.project-main-header h2 span{
	font-size: 0.6em;
	font-weight: 400;
	color: var(--text-light);
}

.project-main-header h2 a{
	text-decoration: underline;
}

.project-nav{
	position: fixed;
	top: 110px;
	left: 0;
	right: 0;
	background: var(--contrast-color-reverse);
	z-index: 99999;
}

.project-nav p{
	position: relative;
	text-align: center;
	padding: 15px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
	font-weight: 700;
	margin-bottom: 0;
}

.project-nav ul{
	display: none;
	overflow-x: hidden;
}

.project-nav ul li{
	
}

.project-nav ul li a{
	display: block;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 700;
	color: var(--contrast-color-reverse);
	padding: 15px;
	border-bottom: 1px solid var(--grey);
}

.project-nav ul li a i{
	margin-right: 8px;
}

.project-nav ul li a.dashboard,
.project-nav ul li a.dashboard i{
	color: var(--dgreen);
}

.project-nav ul li a.teams,
.project-nav ul li a.teams i{
	color: var(--action-color);
}

.project-nav ul li a.backlogs,
.project-nav ul li a.backlogs i{
	color: var(--text-color);
}

.project-nav ul li a.sprints,
.project-nav ul li a.sprints i{
	color: #d52b2b;
}

.project-nav ul li a.releases,
.project-nav ul li a.releases i{
	color: #558fde;
}

.project-nav ul li a.tickets,
.project-nav ul li a.tickets i{
	color: #e9c64f;
}

.project-nav ul li a.globalplan,
.project-nav ul li a.globalplan i{
	color: #777777;
}

.project-nav ul li a.risques,
.project-nav ul li a.risques i{
	color: #b4593a;
}

.project-nav ul li a.rapports,
.project-nav ul li a.rapports i{
	color: #9E9898;
}

.project-nav-button{
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	font-size: 1.6em;
}

.project-main-content .d-col{
	padding: 10px;
}

.project-bloc{
	padding: 25px;
	background: var(--contrast-color-reverse);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}

.project-bloc h4{
	font-size: 1.2em;
	margin-bottom: 25px;
}

.project-bloc h4,
.project-bloc h4 i{
	color: var(--action-color);
}

.project-bloc h4 i{
	margin-right: 10px;
}

.project-bloc .post-img{
	width: 40px;
	height: 40px;
}


.project-bloc .post-img img{
	height: 40px;
}

.project-bloc .user-list p{
	font-size: 0.8em;
}

.project-bloc .user-list li{
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid var(--grey);
}

.project-bloc .post-header{
	width: 70%;
	display: inline-block;
	vertical-align: top;
	float: left;
}

.project-bloc .iflogged{
	position: relative;
	vertical-align: top;
	width: 30%;
	display: inline-block;
	float: left;
	text-align: right;
	padding-right: 20px;
}


.project-bloc .iflogged span{
	position: absolute;
	top: 8px;
	right: 0;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

.project-bloc .iflogged .isonline{
	background: var(--online);
}

.project-bloc .iflogged .isoffline{
	background: var(--offline);
}

.actu-list{

}

.actu-list li{
	display: block;
	margin-bottom: 25px;
}

.actu-list li h6{
	font-size: 1.3em;
	margin-bottom: 10px;
}

.actu-list li strong{
	font-weight: 700;
	font-size: 1.9em;
}

.actu-list li span{
	margin-left: 10px;
	font-size: 1.1em;
}

.actu-list li span,
.actu-list li img,
.actu-list li strong{
	display: inline-block;
	vertical-align: top;
}

.progress-bloc{
	display: inline-block;
	margin-top: 25px;
}

.progress-content{
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	border-color: transparent;
}

.progress-content canvas{
	position: absolute;
	top: 0;
	left: 0;
	animation-delay: 0s;
}

@keyframes rotation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.prev-progress{
	position: absolute;
	top: 36%;
	left: 0;
	right: 0;
	display: inline-block;
	text-align: center;
	transform: translateY(-50%);
}

.prev-progress p{
	color: var(--grey-medium);
}

.prev-progress span{
	font-weight: 700;
}

.admin-content span.progress-number{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	font-size: 2em;
	font-weight: 700;
}

.sprint-bloc{
	position: relative;
	margin-top: 55px;
}

.admin-content i.sprint-marker{
	position: absolute;
	top: 0;
	font-size: 3em;
	transform: translateY(-100%) translateX(45%);
	margin-right: 0;
}

.sprints-container{
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

.sprint-progressbar{
	position: absolute;
	top: 0;
	width: 3px;
	height: 100%;
	background: rgba(0,0,0,0.3);
	z-index: 100;
}

.sprint-cover{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: rgba(255,255,255,0.6);
}

.sprint{
	display: inline-block;
	float: left;
	text-align: center;
	padding: 5px;
}

.sprint span{
	color: var(--contrast-color-reverse);
	font-size: 1em;
}

div.sprint-1{
	background: var(--action-color-hover);
}
div.sprint-2{
	background: var(--yellow);
}
div.sprint-3{
	background: var(--bordeau);
}
div.sprint-4{
	background: var(--violet);
}
div.sprint-5{
	background: var(--orange);
}
div.sprint-6{
	background: var(--apple);
}

.admin-content i.sprint-1{
	color: var(--action-color-hover);
}
.admin-content i.sprint-2{
	color: var(--yellow);
}
.admin-content i.sprint-3{
	color: var(--bordeau);
}
.admin-content i.sprint-4{
	color: var(--violet);
}
.admin-content i.sprint-5{
	color: var(--orange);
}
.admin-content i.sprint-6{
	color: var(--apple);
}

.project-main-header h2 a.project-options{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 40px;
	border-left: 1px solid var(--grey);
}

.project-main-header h2 a.project-options i{
	right: 50%;
	transform: translateY(-50%) translateX(50%);
}

.project-admin-menu .admin-menu-title{
	margin-top: 160px;
}

@media only screen and (min-width:800px){

	.project-admin-menu .admin-menu-title{
		margin-top: 55px;
	}
	
	.project-nav{
		top: 112px;
		left: 281px;
	}

	.project-main.padded,
	.project-main{
		padding-top: 170px;
	}

	.project-bloc{
		font-size: 0.8em;
	}

	.project-bloc .user-list li{
		padding: 10px 0;
		font-size: 1.1em;
	}

	.project-admin-menu{
		top: 130px;
		height: auto;
		bottom: 0;
	}
}

@media only screen and (min-width:1100px){
	.project-admin-menu{
		
	}

	.project-admin-menu .admin-menu-content{
	} 

	.project-admin-menu .admin-menu-title{
		padding: 15px;
	}
	
	.project-main-header{
		right: 0;
		padding-left: 35px;
	}

	.projects-list-main-header{
		right: 210px;
	}

	.project-main{
		padding-right: 15px;
	}

	.projects-list-main{
		padding-right: 220px;
	}

	.project-nav{
		left: 260px;
		top: 120px;
		z-index: 1;
		padding-left: 25px;
		box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
	}

	.project-nav p{
		display: none;
	}

	.project-nav ul{
		display: block;
	}

	.project-nav ul li{
		display: inline-block;
		float: left;
	}

	.project-nav ul li a{
		display: inline-block;
		border-bottom: none;
		font-size: 0.9em;
		padding: 10px;
		padding-right: 12px;
		border-bottom: 3px solid transparent;
		transition: background 0.2s, border 0.2s;
	}

	.project-nav ul li a:hover{
		background: var(--grey-lighter);
		border-bottom: 3px solid var(--grey-medium);
	}

	.project-nav ul li a.active{
		border-bottom: 3px solid var(--action-color);
	}

	.project-bloc{
		padding: 19px 25px;
		min-height: 308px;
	}

	.project-bloc h4{
		margin-bottom: 15px;
	}

	.project-bloc .post-img{
		width: 30px;
		height: 30px;
	}

	.project-bloc .post-img img{
		height: 30px;
	}

	.project-bloc .user-list li{
		padding: 7px 0;
		height: 45px;
	}
	
	.actu-list li{
		margin-bottom: 5px;
	}
	
	.actu-list li:first-child{
		margin-bottom: 15px;
	}

}