.sprint-main-content{
	padding: 10px;
}

.sprint-row{
	/*background: var(--contrast-color-reverse);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);*/
	padding: 15px;
	padding-top: 0;
	overflow: visible;
}


.sprints-bloc{
	position: relative;
	width: 100%;
	height: auto;
	min-height: 385px;
	background: var(--contrast-color-reverse);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}

.sprint-content{
	position: absolute;
	top: 0;	
	left: 0;	
	bottom: 40px;	
	width: 100%;	
	padding: 15px;	
	overflow: hidden;
}

.sprint-content-pannel{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--contrast-color-reverse);
	padding: 25px;
	overflow-x: hidden;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.2s ease-out, opacity 0.2s;
	z-index: 400;
}

.sprint-content-pannel.open{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0s;
	z-index: 500;

}

.sprint-content-pannel form label{
	display: block;
	font-weight: 700;
	line-height: 1.4em;
}

.sprint-content-pannel form .field{
	margin-bottom: 25px;
}

.sprint-content-pannel h4{
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 10px;
}

.sprint-content-pannel ul li{
	font-size: 0.9em;
	padding: 5px 0;
}

.sprint-placeholder{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*.sprint-placeholder a{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: var(--contrast-color-reverse);
	overflow-x: hidden;
}*/

.end-buttons{
	text-align: right;
}

.end-buttons a{
	background: var(--contrast-color-reverse);
	box-shadow: none;
	border: 1px solid var(--grey);	
}

.end-buttons a:hover{
	background: var(--grey-light);
}

.sprint-placeholder-title{
	width: 100%;
	padding: 20px 30px;
	background: var(--action-color);
}

.sprint-placeholder-title p{
	color: var(--contrast-color-reverse);
	margin-bottom: 12px;
	font-size: 1.4em;
	font-weight: 700;
}

.sprint-placeholder-title span{
	display: inline-block;
	color: rgba(255,255,255,0.9);
	font-size: 0.9em;
	line-height: 1.4em;
}

.sprint-placeholder-title span strong{
	font-weight: 700;
}

/*.sprint-placeholder a:hover{
	color: var(--contrast-color-reverse);
}*/

.sprint-placeholder em{
	position: relative;
	display: block;
	text-align: center;
	color: var(--grey-medium);
	margin-top: 10px;
	padding-top: 10px;
}

.sprint-placeholder em i{
	display: inline-block;
	vertical-align: middle;
	font-size: 1.6em;
	margin-right: 10px;
	color: var(--grey-medium);
	transform: translateY(-2px);

}

.sprint-progress-info{
	text-align: center;
	padding: 15px 30px;
	background: var(--grey-green);
	border-bottom: 1px solid var(--grey-green-darker);
}

.sprint-progress-canvas{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 100px;
	height: 100px;
}

.sprint-progress-canvas canvas{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}

.sprint-progress-canvas-num{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 0.9em;
	transform: translateX(-50%) translateY(-50%);
	z-index: 120;
	color: var(--text-color);
	font-weight: 700;
}

.sprint-progress-days{
	display: inline-block;
	vertical-align: middle;
}

.sprint-progress-days p{
	margin-bottom: 0;
	margin-left: 25px;
}

/*.sprint-placeholder em::before{
	content: '';
	position: absolute;
	top: 0;
	left: 40%;
	width: 20%;
	height: 1px;
	background: var(--grey-medium);
}*/


.sprint-menu{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: var(--grey-dark);
}

.sprint-menu ul li{
	position: relative;
	display: inline-block;
	width: 25%;
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	color: var(--contrast-color-reverse);
	padding: 0 5px;
	border-right: 1px solid rgba(255,255,255,0.1);
}

.sprint-menu ul li::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: var(--light-blue);
	transform: scale(0);
	transition: transform 0.2s ease-out;
}

.sprint-menu ul li.active::before{
	background: var(--action-color);
	transform: scale(1);
}

.sprint-menu ul li i{
	font-size: 1.1em;
	color: var(--grey-light);
	text-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}

.sprint-menu ul li:last-child{
	border-right: none;
}

.sprint-content-pannel form.form,
.sprint-content-pannel form .field,
.sprint-content-pannel form .field input{
	background: transparent;
}

.sprint-content-pannel form .field input{
}

.sprint-content-pannel form .field input.submit{
	background: var(--action-color);
}

.sprint-content-pannel form .field input.submit:hover{
	background: var(--action-color-hover);
}

.sprints-bloc .side-comments{
	font-size: 0.8em;
}

.sprint-progression{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: transparent;
}

.sprint-progression-text{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 0.8em;
	color: var(--contrast-color-reverse);
	text-shadow: 0px 3px 5px rgba(0,0,0,0.3);
	text-align: center;	
	padding: 2px 15px;
	padding-top: 6px;
	background: var(--grey-dark);
	opacity: 1;
	transition: opacity 0.2s, transform 0.3s ease-out;
}

/*.sprint-progression-text{
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 50%;
	font-size: 0.8em;
	color: var(--contrast-color-reverse);
	text-shadow: 0px 3px 5px rgba(0,0,0,0.3);
	text-align: center;	
	z-index: 200;
	padding: 2px 15px;
	background: var(--grey-dark);
	transform: translateX(-50%) translateY(130%);
	border-radius: 3px;
	opacity: 1;
	transition: opacity 0.2s, transform 0.3s ease-out;
}*/

/*.sprints-bloc:hover .sprint-progression-text{
	transform: translateX(-50%) translateY(110%);
	opacity: 1;
}*/

.sprint-gage{
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	transition: width 0.3s ease-out, background 0.3s ease-out;
	transition-delay: 2s;
	background: var(--grey-dark);	
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}

.sprint-gage-0{
	background: var(--green-light);	
}

.sprint-gage-25{
	background: var(--green);	
}

.sprint-gage-50{
	background: var(--yellow);	
}

.sprint-gage-75{
	background: var(--orange);	
}

.sprint-gage-100{
	background: var(--red);	
}

@media only screen and (min-width:800px){
	.sprint-row .d-col{
		padding: 15px;	
		padding-bottom: 0;
	}
	
}

@media only screen and (min-width:1100px){
	.sprint-menu ul li{
		cursor: pointer;
		transition: background 0.2s;
	}

	.sprint-menu ul li:hover{
		background: var(--grey-darker);
	}

	.sprint-menu ul li:hover::before{
		transform: scale(1);
	}
}