.tickets-main-content{
	padding: 10px;	
}

div.ticket-content{
	background: var(--contrast-color-reverse);
	padding: 25px;
}

.tickets-row{
}

.tickets-row .d-col{
	padding-top: 15px;
}

.tickets-row .d-col h3{
	font-size: 1.2em;
	font-weight: 700;
}

.tickets-row .d-col h3 a{
	font-size: 0.6em;
	font-weight: 400;
	float: right;
}

.tickets-table{
	margin-top: 5px;
}

.content-table-search{
	padding-right: 15px;
}

.new-ticket-form{
	display: none;
}

.ticket-show{
	margin: 15px 0 25px;
	background: var(--grey-light);
	border: 1px solid var(--grey);
	padding: 25px;
}

.ticket-show h4{
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 10px;
}

.ticket-show p{
	line-height: 1.4em;
	font-size: 0.9em;
}

.ticket-reponse-form{
	display: block;
	margin-bottom: 50px;
}

.ticket-reponse-form label,
.ticket-reponse-form textarea{
	display: block;
	width: 100%;
}

.ticket-reponse-form label{
	font-weight: 700;
	margin-bottom: 5px;
}

.ticket-reponse-form .submit-button{
	display: inline-block;
	float: right;
	color: var(--contrast-color-reverse);
	padding: 5px 10px;
	background: var(--dark-blue);
	border-radius: 3px;
	border: none;
	margin-top: 10px;
	cursor: pointer;
	transition: background 0.2s;
}

.ticket-reponse-form .submit-button:hover{
	background: var(--dark-blue-light-hover);	
}

.ticket-reponse-form textarea{
	min-width: 100%;
	max-width: 100%;
	height: 120px;
	border-radius: 5px;
	border-color: var(--grey);
	padding: 10px;
}

.responce{
	padding: 25px;
	margin-bottom: 10px;
}

.reponse-support{
	background: var(--grey);
	width: 80%;
	margin-right: 20%;
}

.reponse-client{
	background: var(--grey-light);
	border: 1px solid var(--grey);
	width: 80%;
	margin-left: 20%;
}

.reponse-name{
	font-weight: 700;
	margin-bottom: 10px;
}

.reponse-time{
	float: right;
	font-size: 0.6em;
	font-weight: 400;
}

.reponse-text{
	font-size: 0.9em;
	line-height: 1.4em;
}

.reponse-validate{
	display: inline-block;
	float: right;
	text-decoration: none;
	font-size: 0.8em;
	padding: 5px 10px;
	margin-top: 10px;
	background: rgba(0,0,0,0.1);
	transition: background 0.2s;
}

.reponse-validate:hover{
	color: inherit;
	background: rgba(0,0,0,0.05);
}

@media only screen and (min-width:800px){
	.new-ticket-form{
		display: none;
		position: fixed;
		bottom: 0;
		right: 0;
		width: 350px;
		height: auto;
		line-height: 1.4em;
		background: var(--contrast-color-reverse);
		z-index: 999999999;
		box-shadow: 0px 3px 5px rgba(0,0,0,0.3);

	}

	.new-ticket-form-title{
		background: var(--grey-dark);		
	}

	.new-ticket-form p{
		width: 90%;
		padding: 10px 15px;
		color: var(--contrast-color-reverse);
		margin-bottom: 0;
		font-size: 0.85em;
		margin-right: 10%;
		cursor: pointer;
	}

	.new-ticket-form i{
		color: var(--contrast-color-reverse);
		position: absolute;
		top: 12px;
		right: 10px;
		cursor: pointer;
	}

	.form-field{
		border-bottom: 1px solid var(--grey);
		position: relative;
	}

	.form-field label{
		display: none;
	}
	.form-field .text-input,
	.form-field textarea{
		display: block;
		width: 100%;
		font-size: 0.85em;
		padding: 10px;
		border: none;
	}

	.form-field textarea{
		min-height: 250px;
		min-width: 100%;
		max-width: 100%;
	}

	.send-field{
		padding: 15px;
		text-align: right;
	}

	.tickets-reponse-row{
		padding: 15px 25px;
	}
}