@font-face
{
  font-family: 'jaapokkisubtract';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/subtract/web/jaapokkisubtract-regular.woff') format('woff');
}

html,
body{
  position: relative;
  width: 100%;
  height: 100%;
  font-family: var(--normal-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-color);
  font-style: normal;
  background: var(--white);
}

body{
  opacity: 0;
  transition: opacity 1s;
  transition-delay: .2s;
}

body.ready{
  opacity: 1;
}

h1,
h2,
h3,
h4{
  font-family: var(--title-font);
  color: var(--tile-color);
  font-weight: 700;
  margin-bottom: 25px;
}

h1{
  font-size: 4.3em;
}

h2{
  font-size: 3.8em;
}

p{
  color: var(--text-color);
}

strong{
  font-weight: 700;
  color: var(--grey);
}

.clear{
  clear: both;
}
