.section{
	width: 100%;
	height: auto;
}

.section-inner{
	padding: 25px 25px;
}

.section-title{
	padding: 15px 25px;
}
.section-title h2{
}

.section-page-header .section-inner{
  padding-top: 70px;
}

@media screen and (min-width: 800px){
	.section-inner{
		padding: 55px 175px;
	}
}
