.notification-bloc{
	position: fixed;
	bottom: 15px;
	left: 15px;
	width: auto;
	background: transparent;
	z-index: 99999999999999999;
	transform: translateY(100%);
}

.notification-bloc.open{
	transform: translateY(0);	
}

.notification{
	width: auto;
	color: var(--contrast-color-reverse);
	font-size: 0.8em;
	padding: 15px 25px;
	background: var(--dark-blue);
	margin-bottom: 5px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	cursor: pointer;
	border-radius: 3px;
	transform: translateY(25px);	
	transition: opacity 0.2s, transform 0.2s ease-out;
	opacity: 0;
}

.notification-bloc.open .notification{
	transform: translateY(0);	
	opacity: 1;
}

.success-notif{
	border-bottom: 5px solid var(--success);
}

.error-notif{
	border-bottom: 5px solid var(--error);
}

.notification i{
	margin-right: 15px;
	font-size: 1.2em;
	transform: translateY(1px);
}

.success-notif i{
	color: var(--success);
}

.error-notif i{
	color: var(--error);
}
