.side-comments-toggle{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: -1;
}

.side-comments{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 80%;
	width: 100%;
	font-size: 0.9em;
	line-height: 1.4em;
	background: var(--contrast-color-reverse);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	z-index: 9999999999999;
	opacity: 0;
	transform: translateY(110%);
	transition: transform 0.2s ease-out, opacity 0.2s;
}

.side-comments.open{
	opacity: 1;
	transform: translateY(0);
}

.side-comment-title{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--dgreen);
	z-index: 888888;
	padding: 15px;
	padding-right: 45px;
}

.main i.close-comment{
	position: absolute;
	top: 14px;
	right: 15px;
	font-size: 16px;
	color: var(--text-color);
	cursor: pointer;
	margin-right: 0;
}

.side-comment-title h6{
	font-size: 1.1em;
	font-weight: 700;
	color: var(--contrast-color-reverse);
}

.side-comments-posted{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 90px;
	width: 100%;
	padding: 15px;
	padding-top: 70px;
	overflow-x: hidden;
}

.add-side-comment{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 90px;
	border-top: 1px solid var(--action-color);
}

form .field.add-side-field{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 95px 5px 10px;
}

form .field textarea.add-side-input{
	font-size: 1em;
	margin-top: 0;
}

form .field input.send-side-input{
	position: absolute;
	top: 5px;
	right: 10px;
	width: auto;
	font-size: 1em;
}

.side-comment{
	border-bottom: 1px solid var(--grey);
	margin-bottom: 10px;
}

.main .side-comment .post-header{
	float: none;
	width: 100%;
}

.main .side-comment .post-header span{
	text-decoration: none;
	vertical-align: middle;
}

.side-comment-content{
	padding-left: 50px;
}


.side-comments .post-img{
	width: 30px;
	height: 30px;
}

.side-comments .post-img img{
	height: 30px;
}
@media only screen and (min-width:800px){
	.side-comments{
		width: 60%;
		height: 75%;
		transform: translateY(0) translateX(110%);
	}
	
	.side-comments.open{
		transform: translateY(0) translateX(0);
	}
}

@media only screen and (min-width:1100px){
	.side-comments{
		width: 40%;
		height: 75%;
	}

	.add-side-comment{
		height: 70px;
	}

	form .field textarea.add-side-input{
		height: 50px;
	}

	.close-comment{
		cursor: pointer;
	}
}
