.tabs-header{
	margin-top: 10px;
	padding: 15px 10px 0;
	position: relative;
}

.tabs-header p{
	margin-bottom: 0;
	background: var(--grey);
	padding: 10px;
}

.tabs-header ul{
	display: none;
	border-bottom: 1px solid var(--grey);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 4;
	padding: 0 10px;
	transform: translateY(100%);
}

.tabs-header ul li{
	display: block;
	padding: 10px 15px;
	background: var(--contrast-color-reverse);
	border-bottom: 1px solid var(--grey-medium);
	transition: background 0.2s, color 0.2s;
	cursor: pointer;
	font-size: 0.8em;
}

.tabs-header ul li.active{
	color: var(--contrast-color-reverse);
	border-bottom-color: transparent;
	background: var(--action-color);
}

.tabs-content{
	position: relative;
	/*background: var(--contrast-color-reverse);
	transition: height 0.2s;*/
}

.tabs{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	/*transform: translateX(150px);
	opacity: 0;
	transition: transform 0.4s ease-out, opacity 0.4s;*/
}

.tabs.active{
	display: block;
	/*transform: translateX(0);
	opacity: 1;*/
	z-index: 3;
}

@media only screen and (min-width:800px){	
	.tabs-header p{
		display: none;
	}

	.tabs-header ul{
		position: static;
		display: block;
		transform: none;
		padding: 0;
		background: var(--contrast-color-reverse);
	}

	.tabs-header ul li{
		display: inline-block;
		float: left;
		border-bottom: none;
		border-right: 1px solid var(--grey);	}

	.tabs-header ul li:hover{
		background: var(--grey);
	}

	.tabs-header ul li.active{
		color: var(--contrast-color-reverse);
		border-right-color: transparent;
		background: var(--action-color);
	}
}

@media only screen and (min-width:1100px){
	.tabs-header ul li{
		min-width: 120px;
		text-align: center;
	}
}